@using VacationExpert.Data.Models.Enums
@using VacationExpert.Services.Models
@model CreatePropertyInputModel
<link rel="stylesheet" href="~/css/create/index.css" />

@{
    var services = Enum.GetNames<Service>().ToList();
    var roomsCount = 1;
    var bedsCount = 1;
}
<section class="create">
    <partial name="_CreateNav" />
    <form method="post" asp-controller="create" asp-action="index" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <section class="basic-info">
            <h3>Basic info</h3>
            <article class="main-property-details">
                <h4>Name and rating</h4>

                <input placeholder='Enter the name of your property' asp-for=Name />
                <p>The guest will be able to see the name when they look for a place to stay.</p>
                <div>
                    <label>Your star rating</label>
                    <select asp-for=Rating asp-items="@Html.GetEnumSelectList<Rating>()"></select>
                </div>
            </article>

            <article class="contact-details">
                <h4>Contact detail for this property</h4>
                <div class="contact-name">
                    <label>Contract name</label>
                    <input type="text" asp-for=Contact.ContactName />
                </div>
                <div class="phone-info">
                    <div>
                        <label>Phone Number</label>
                        <input type="tel" asp-for=Contact.Phone />
                    </div>
                    <div>
                        <label>Alternative phone number (otional)</label>
                        <input type="tel" asp-for=Contact.AdditionalPhone />
                    </div>
                </div>
            </article>

            <article class="secondary-basic-details">
                <h4>Property Address</h4>
                <textarea placeholder="Street address" asp-for=Address.StreetAddress></textarea>
                <label asp-for="Address.Country"></label>
                <select class="form-control" asp-for="Address.Country" asp-items="@Html.GetEnumSelectList<Country>()"></select>

                <label asp-for="Address.City">City</label>
                <select class="form-control" asp-for="Address.City" asp-items="@Html.GetEnumSelectList<City>()"></select>

                <label asp-for="Address.ZipCode">Zip code</label>
                <input type="text" asp-for="Address.ZipCode" />
            </article>
        </section>

        <section class="layout-pricing">
            <h3>Layout & Pricing</h3>

            @for (int i = 0; i < @roomsCount; i++)
            {
                  <article class="type-smoking" asp-for="Rooms">
                <label>Room type</label>
                <select asp-for="Rooms[i]" asp-items="@Html.GetEnumSelectList<RoomType>()"></select>
                <label>Smoking policy</label>
                <select asp-for="Rooms[i]" asp-items="@Html.GetEnumSelectList<SmokingPolicy>()"></select>
                <label>Number of rooms (this type)</label>
                <input type="number" />
            </article>
                @for (int j = 0; j < @bedsCount; j++)
                {
                    <article class="bed-options-wrapper">
                <h5>Bed options</h5>
                <div>
                    <select asp-for="Rooms[i].Beds[j].Type" asp-items="@Html.GetEnumSelectList<BedType>();"></select>
                    <select asp-for="Rooms[i].Beds[j].Count" asp-items="@Html.GetEnumSelectList<BedCount>()"></select>
                </div>
                <button type='button' id='addBed'>Add another bed</button>

                <div class="guests-number-room">
                    <label>How many guests can stay in the room ?</label>
                    <input type="number" />
                </div>
            </article>
                }
            }
            <div>
                <label>
                    Room Size (optional, quare meteres)
                </label>
                <input type="number" />
            </div>
        </section>

        <section class="facilities-services">
            <h3>Facilities & Services</h3>
            <p>We need to know some of the main facilities available in your property, so the guest can have better idea about your property.</p>
            <article class="main-facilities">
                <h5>Parking</h5>
                <select class="form-control" asp-for="Facilities.Parking" asp-items="@Html.GetEnumSelectList<Parking>()"></select>
                <div>
                    <h5>Breakfast</h5>
                    <select class="form-control" asp-for="Facilities.Breakfast" asp-items="@Html.GetEnumSelectList<Breakfast>()"></select>
                </div>
                <div>
                    <h5>Languages</h5>
                    <select class="form-control" asp-for="Facilities.Language" asp-items="@Html.GetEnumSelectList<Language>()"></select>
                </div>
            </article>


            <article id="checkBox-wraper" class="secondary-facilities">
                <h5>Here are the facilities which the guests commonly look for.</h5>
                <div id="section-container">
                    @for (int i = 0; i < @services.Count(); i++)
                    {
                        <div class='single-facility'>
                            <input asp-for=@Model.Facilities.Services[i].Selected type="checkbox" />
                            <input asp-for=@Model.Facilities.Services[i].Name value=@services[i] type="hidden" />
                            <label asp-for=Facilities.Services[i]>@services[i]</label>
                        </div>
                    }
                </div>
            </article>
        </section>

        <section class="photos-box">
            <h3>Photos</h3>
            <p>Usually guests choose property according to the provided photos. These photos gives your guests full experience. Upload some photos and we will display them .</p>

            <h5>Photo Gallery</h5>

            <div id="photo-box">
                <h6>Upload at least 1 photo</h6>
                <input name="photo-uploader" type="file" multiple />
    <img id="blah" src="#" alt="your image" />
            </div>
        </section>

        <button>SUBMIT</button>
    </form>
    <partial name="_CreateNav" />


</section>

<script type="module" defer src=~/js/create/create.js>  </script>