@using VacationExpert.Web.ViewModels.PropertyViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using VacationExpert.Data.Models
@using VacationExpert.Common

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model PropertyListViewModel;

@{
    var properties = Model.Properties.ToList();
    var creator = Model.Properties.Select(x => x.UserId).FirstOrDefault();

}


<link rel="stylesheet" href="~/css/search/results.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">

<section class='results-container'>
    @foreach (var property in @properties)
    {
        <article class='single-result'>
            <a href="/Property/DisplayProperty/@property.Id">
                <img src="/Image/GetThumbnail/@property.ImageId">
            </a>

            <div class="result-summary">
                <div class="result-header">
                    <h3><a href="/Property/DisplayProperty/@property.Id">@property.Name</a></h3>
                    <div>
                        @for (int i = 0; i < @property.Rating; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                    </div>
                </div>
                <p ><i class="fas fa-city city-p"></i> @property.City</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat nostrum provident sunt nam deleniti ducimus voluptatem voluptate officiis consequatur, ea doloremque hic ab eius pariatur a officia ullam nesciunt aspernatur adipisci impedit repellat optio modi esse. Numquam, culpa. Consequatur, deserunt. Sunt neque quisquam qui! Aspernatur quam sunt culpa dolor.</p>
            </div>
            <div class="grade-box">
                <div>
                    <strong>Wonderfull</strong>
                    <p>Reviews: @property.ReviewsCount</p>
                </div>
                @if(@property.Grade== null) {
                <a href="/Property/DisplayProperty/@property.Id">0</a>
                }
                else {
                <a href="/Property/DisplayProperty/@property.Id">@property.Grade</a>

                }
            </div>
            @if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole(GlobalConstants.CreatorRoleName) && this.Context.User.FindFirst(ClaimTypes.NameIdentifier).Value == @creator)
           {
                <div>
                    <a asp-controller="Property" asp-action="Edit" asp-route-id="@property.Id">Edit</a>
                    <a asp-controller="Property"asp-action="Delete" asp-route-id=@property.Id>Delete</a>
                </div>
            }
        </article>
    }
</section>