@using VacationExpert.Common
@using VacationExpert.Web.ViewModels.PropertyViewModel
@using VacationExpert.Data.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager

    @{
    this.ViewData["Title"] = Model.Name;
}
@model PropertyViewModel

<link rel="stylesheet" href="~/css/property/propertyDisplay.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">


<section id="display-container" data-property="@Model.Id" class="property-view-container">
    <article class="property-view-header">
        <h2>@Model.Name</h2>
        <p>@Model.Address.Street, @Model.Address.City @Model.Address.Country</p>
        <div class="image-gallery">
            @foreach (var image in @Model.Images)
            {
                <a href="/Image/GetFullscreen/@image">
                    <img src="/Image/GetThumbnail/@image" />
                </a>
            }
        </div>
    </article>
    <article class="property-view-description">
        <p>@Model.Description</p>
    </article>
    <article class="property-view-facilties">
        @foreach (var facility in Model.Facilities)
        {
            <p>@facility</p>
        }
    </article>
    <article>
        <h3>Rooms</h3>
        @foreach (var room in Model.Rooms)
        {
            <div class="room-wrapper" >
                <article class='single-display-room'>

                    <div>
                        <p><strong>Type:</strong></p>
                        <p>@room.Type</p>
                    </div>
                    <div>
                        <p><i class="fas fa-house-blank"></i></p>
                        <p><strong>Size:</strong></p>
                        <p>@room.Size</p>
                    </div>
                    <div>
                        <p><strong>SmokingPolicy:</strong></p>
                        <p>@room.SmokingPolicy</p>
                    </div>
                    <div>
                        <p><strong>Count:</strong></p>
                        <p>@room.RoomCount</p>
                    </div>
                    <div>
                        <p><strong>Max Guests in the room:</strong></p>
                        <p>@room.GuestCount</p>
                    </div>
                    <br />
                </article>
                <hr/>
                 <h5>Beds</h5>
                <article>
                   
                    @foreach (var bed in @room.Beds)
                    {
                        <div>
                            <p><strong>Bed Type:</strong></p>
                            <p>@bed.Type</p>
                        </div>
                        <div>
                            <p><strong>Bed Count:</strong></p>
                            <p>@bed.Count</p>
                        </div>
                    }
                </article>
            </div>
        }
    </article>
    <section id="reviews">
    </section>
</section>

@if (signInManager.IsSignedIn(this.User) && this.User.IsInRole(GlobalConstants.UserRoleName))
{
    <button id="show-review-btn">Write your review</button>
    <section class="create-review-box">
        <p>@userManager.GetUserName(this.User)</p>
        <textarea placeholder="Add your review here"></textarea>
        <label>Rate:</label>
        <input type="number" max=10, min=1 />
        <button>Send</button>
    </section>
}
else
{
    <div class="login-to-review">
    <p>Please login to see reviews</p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}

<script type="module" defer src="~/js/property/displayProperty.js"></script>