@using VacationExpert.Services.Models
@using VacationExpert.Data.Models.Enums
@using VacationExpert.Web.ViewModels.PropertyViewModel
@model PropertyUpdateModel
@{
    CreatePropertyInputModel property = (CreatePropertyInputModel)(this.ViewData["Property"]);
    List<string> services = (List<string>)(this.ViewData["Services"]);
    var languages = Enum.GetNames<Language>().ToList();
    var countries = Enum.GetNames<Country>().ToList();
    var cities = Enum.GetNames<City>().ToList();
    var rating = Enum.GetNames<Rating>().ToList();
    var smokingPolicy = Enum.GetNames<SmokingPolicy>().ToList();
    var bedsCount = Enum.GetNames<BedCount>().ToList();
}
<link rel="stylesheet" href="~/css/create/index.css" />

<section class="create">
    <partial name="_CreateNav" />
    <form method="post" asp-controller="Property" asp-action="Edit" asp-route-id="@property.Id" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <section class="basic-info">
            <h3>Basic info</h3>
            <article class="main-property-details">
                <h4>Name and rating</h4>

                <input placeholder='Enter the name of your property' asp-for=Name value=@property.Name />
                <p>The guest will be able to see the name when they look for a place to stay.</p>
                <h4>Description:</h4>
                <textarea asp-for=Description></textarea>
                <div>
                    <label>Your star rating</label>
                    <select asp-for=Rating>
                        @for (var i = 0; i < @rating.Count; i++)
                        {
                            @if (@property.Rating.ToString() == @rating[i])
                            {
                                <option selected>@property.Rating</option>
                            }
                            else
                            {
                                <option>@rating[i]</option>
                            }
                        }
                    </select>
                </div>
            </article>

            <article class="contact-details">
                <h4>Contact detail for this property</h4>
                <div class="contact-name">
                    <label>Contract name</label>
                    <input type="text" asp-for=Contact.ContactName value=@property.Contact.ContactName />
                </div>
                <div class="phone-info">
                    <div>
                        <label>Phone Number</label>
                        <input type="tel" asp-for=Contact.Phone value=@property.Contact.Phone />
                    </div>
                    <div>
                        <label>Alternative phone number (otional)</label>
                        <input type="tel" asp-for=Contact.AdditionalPhone value=@property.Contact.AdditionalPhone />
                    </div>
                </div>
            </article>

            <article class="secondary-basic-details">
                <h4>Property Address</h4>
                <textarea placeholder="Street address" name="Address.StreetAddress">@property.Address.StreetAddress</textarea>
                <label asp-for="Address.Country"></label>
                <select class="form-control" asp-for="Address.Country">
                    @for (var i = 0; i < countries.Count; i++)
                    {
                        @if (@property.Address.Country == countries[i])
                        {
                            <option selected>@countries[i]</option>
                        }
                        else
                        {
                            <option>@countries[i]</option>
                        }
                    }

                </select>

                <label asp-for="Address.City">City</label>
                <select class="form-control" asp-for="Address.City">
                    @for (var i = 0; i < @cities.Count; i++)
                    {
                        @if (@property.Address.City == @cities[i])
                        {
                            <option selected>@cities[i]</option>
                        }
                        else
                        {
                            <option>@cities[i]</option>
                        }
                    }
                </select>

                <label asp-for="Address.ZipCode">Zip code</label>
                <input type="text" asp-for="Address.ZipCode" value="@property.Address.ZipCode" />
            </article>
        </section>

        <section class="layout-pricing">
            <h3>Layout & Pricing</h3>

            @for (int i = 0; i < @property.Rooms.Count(); i++)
            {
                <article class="type-smoking" asp-for="Rooms">
                    <h3>Rooms</h3>
                    <label asp-for="Rooms[i].Type">Room type</label>
                    <select asp-for="Rooms[i].Type">
                      @*  @foreach (string room in roomType)
                        {
                            if (@property.Rooms.Any(x => x.Type.ToString() == @room))
                            {
                                <option selected>@room</option>
                            }
                            else
                            {
                                <option>@room</option>

                            }
                        }*@
                    </select>

                    <label asp-for="Rooms[i].SmokingPolicy">Smoking policy</label>
                    <select asp-for="Rooms[i].SmokingPolicy">
                        @foreach (string smokingPolict in @smokingPolicy)
                        {
                            if (@property.Rooms.Any(x => x.SmokingPolicy.ToString() == @smokingPolict))
                            {
                                <option selected>@smokingPolict</option>
                            }
                            else
                            {
                                <option>@smokingPolict</option>

                            }
                        }
                    </select>

                    <label asp-for="Rooms[i].RoomCount">Number of rooms (this type)</label>
                    <input min="1" asp-for="Rooms[i].RoomCount" type="number" value=@property.Rooms[i].RoomCount />
                </article>
                @for (int j = 0; j < 1; j++)
                {
                    <article class="bed-options-wrapper">
                        <h5>Bed options</h5>
                        <div>
                      @*      <select asp-for="Rooms[i].Beds[j].Type">
                                @foreach (string bedType in @bedsType)
                                {
                                    if (@property.Rooms[i].Beds[j].Type == @bedType.ToString())
                                    {
                                        <option selected>@bedType</option>
                                    }
                                    else
                                    {
                                        <option>@bedType</option>
                                    }
                                }
                            </select>*@
                    @*        <select asp-for="Rooms[i].Beds[j].Count">
                                @foreach (string bedCount in @bedsCount)
                                {
                                    if (@property.Rooms[i].Beds[j].Count.ToString() == @bedCount)
                                    {
                                        <option selected>@bedCount</option>
                                    }
                                    else
                                    {
                                        <option>@bedCount</option>

                                    }
                                }
                            </select>*@
                        </div>
                        <button type='button' id='addBed'>Add another bed</button>

                        <div class="guests-number-room">
                            <label asp-for="Rooms[i].GuestsCount">How many guests can stay in the room ?</label>
                            <input min="1" asp-for="Rooms[i].GuestsCount" type="number" value=@property.Rooms[i].GuestsCount />
                        </div>
                    </article>
                }
                <div>
                    <label>
                        Room Size (optional, quare meteres)
                    </label>
                    <input type="number" asp-for=Rooms[i] min="0" value=@property.Rooms[i].RoomSize />
                </div>
            }

            <section>
                <button type="button">AddRoom</button>
            </section>

        </section>

        <section class="facilities-services">
            <h3>Facilities & Services</h3>
            <p>We need to know some of the main facilities available in your property, so the guest can have better idea about your property.</p>
            <article class="main-facilities">
                <h5>Parking</h5>
                <select class="form-control" asp-for="Facilities.Parking" asp-items="@Html.GetEnumSelectList<Parking>()"></select>
                <div>
                    <h5>Breakfast</h5>
                    <select class="form-control" asp-for="Facilities.Breakfast" asp-items="@Html.GetEnumSelectList<Breakfast>()"></select>
                </div>
                <div>
                    <h5>Languages</h5>
                    <select class="form-control" asp-for="Facilities.Language">
                        @for (var i = 0; i < @languages.Count; i++)
                        {
                            @if (@property.Facilities.Language == @languages[i])
                            {
                                <option selected>@languages[i]</option>
                            }
                            else
                            {
                                <option>@languages[i]</option>
                            }
                        }
                    </select>
                </div>
            </article>


            <article id="checkBox-wraper" class="secondary-facilities">
                <h5>Here are the facilities which the guests commonly look for.</h5>
                <div id="section-container">
                    @for (int i = 0; i < @services.Count(); i++)
                    {
                        <div class='single-facility'>
                            @if (@property.Facilities.Services.Any(x => x.Name == @services[i]))
                            {
                                <input asp-for=@Model.Facilities.Services[i].Selected type="checkbox" checked />
                                <input asp-for=@Model.Facilities.Services[i].Name value=@services[i] type="hidden" />
                                <label asp-for=Facilities.Services[i]>@services[i]</label>
                            }
                            else
                            {
                                <input asp-for=@Model.Facilities.Services[i].Selected type="checkbox" />
                                <input asp-for=@Model.Facilities.Services[i].Name value=@services[i] type="hidden" />
                                <label asp-for=Facilities.Services[i]>@services[i]</label>
                            }

                        </div>
                    }
                </div>
            </article>
        </section>

        <section class="photos-box">
            <h3>Photos</h3>
            <p>Usually guests choose property according to the provided photos. These photos gives your guests full experience. Upload some photos and we will display them .</p>

            <h5>Photo Gallery</h5>

            <div id="photo-box">
                <div>
                    <h6>Upload at least 1 photo</h6>
                    <input name="images" id="photo-uploader" type="file" multiple />
                </div>
                <article id="uploaded-photo-gallery">
                </article>
            </div>
        </section>
        <button>SUBMIT</button>

    </form>
    <partial name="_CreateNav" />
</section>

<script type="module" defer src=~/js/create/create.js>  </script>